.selected {
  background-color: #434467; /* Change this to your desired background color */
  color: white;
}

body {
  background-color: #ffffff;
  height: 100%;
}

.containerMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1400px) {
  .containerMain {
    grid-template-columns: 1fr;
  }
}

.buttons {
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.button-style {
  min-width: 320px;
  max-width: 500px;
  margin: 10px;
}

.description {
  background-color: #434467;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

.left {
  margin: 5px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
  background-color: #434467;
  border-radius: 10px;
  height: fit-content;
}
.right {
  margin: 5px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
  background-color: #434467;
  border-radius: 10px;
  height: fit-content;
}

.settings {
  padding: 0px;
  margin: 0px;
}
.filter {
  margin-left: 20px;
  width: 300px;
}

.title {
  justify-content: center;
  align-items: center;
  background-color: #434467;
  color: white;
  margin: 0px;
  padding-bottom: 10px;
}

h1 {
  margin: auto;
  padding-top: 10px;
  width: fit-content;
}
